{% extends "base.html" %} 
{% load static %}
{% block content %}

<form action="{% url 'signup' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
      
      <table class="table">
        <tbody>
          <tr>
            <td>Email : {{form.email}}</td>

          </tr>
          <tr>
            
            <td>Username: {{form.username}}</td>
          </tr>
          <tr>
        
            <td>Password: {{form.password1}}</td>
          </tr>
          <tr>
        
            <td>Confirm Password: {{form.password2}}</td>
          </tr>
        </tbody>
      </table>

    <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>

  {% endblock %}